@import url('https://dethmastery.github.io/katsuStrap/cdn/css/fonts.css');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e2f2f;
  color: whitesmoke;
}

form {
  min-width: 30rem !important;
  max-width: 60rem !important;
  text-align: center;
  justify-content: center;
}

form h2 {
  margin: 0;
  padding: 0;
}

form input {
  width: 90%;
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
}

input[name="name"], input[name="lName"] {
  width: 40%;
}

input[name="name"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="lName"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input[name="ageLeft"], input[name="ageRight"] {
  width: 33.3%;
}

input[name="ageLeft"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="ageRight"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  color: lightgray;
  opacity: .6;
}

input[name="asks[]"]:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="asks[]"]:nth-child(2) {
  border-radius: 0;
}

input[name="asks[]"]:nth-child(3) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sexBox {
  text-align: center;
}

select[name="sex"] {
  height: auto;
  width: 80%;
  text-align: center;
  font-size: 15px;
  border-radius: 1rem;
  padding: .5rem;
  margin: .5rem;
}

input[type="checkbox"] {
  width: auto;
}

label[for="frontEnd[]"] {
  font-size: 18px;
}

label[for="backEnd[]"] {
  font-size: 18px;
}

button[type="submit"] {
  border-radius: 1rem;
  border: none;
  margin: 1rem 0;
  padding: .75rem;
  color: whitesmoke;
  background: #ff6f61;
}

button[type="submit"]:hover {
  cursor: pointer;
  opacity: .8;
}

/* ============================================= */
/* Result */
/* ============================================= */

form#res {
  max-width: 80%;
  min-width: 80%;
  justify-content: center;
}

textarea[name="MD"] {
  width: 70%;

  resize: none;

  padding: 1rem;

  margin-left: auto;
  margin-right: auto;

  font-size: 1rem;

  border: 1px solid whitesmoke;
  border-radius: 1rem;

  background: transparent;
  color: whitesmoke;
}

.postGuide {
  width: 60%;
  margin: auto 0;
}

.postGuide hr {
  margin: 2rem 0;
  width: 100%;
  opacity: .6;
}

.postGuide pre {
  width: 70%;
  text-align: left;
  border: 1px solid whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
}